body {
    background-color: aquamarine;
}

.ingredients {
    color: chocolate ;
    font-family: 'Courier New', Courier, monospace;
}

.steps {
    color: chocolate ;
    font-family: 'Courier New', Courier, monospace;
}

.list {
    font-family: 'Courier New', Courier, monospace;
    color: coral;
}

.titles {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 42px;
}

.desc {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}